<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Магазин </title>
</head>
<body>
<!--    <header>-->
        {% block pagename %}
        <h1>Главная страница</h1>
        {% endblock %}
<!--    </header>-->

<!--    <nav>-->
        {% block menu %}
        <p><a href="/yandex/"> Главная страница </a></p>
        <p><a href="/yandex/1"> Яндекс </a> </p>
        <p><a href="/yandex/2"> Корзина </a> </p>
        {% endblock %}
<!--    </nav>-->

<!--    <main>-->
        {% block content %}
        <p></p>
        {% endblock %}
<!--    </main>-->
</body>
</html>